<!doctype html>
<html lang="en"><head><meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../css/main.css">
<link rel="shortcut icon" href="../i/fav.png">
<title>Bike Mastery: Template</title></head><body>

<header>
	<h1>Template Page
	<i>Bike Mastery</i></h1>
</header>

<nav>
	<a href=".." class="btn">Home</a>
	<a href="../guides" class="btn">Guides</a>
	<a href="../parts" class="btn">Parts</a>
	<a href="../order" class="btn">Order</a>
	<a href="" class="btn">Template</a>
	<a href="http://github.com/4stc/bike_mastery" class="btn">Source</a>
	<i>Bike Mastery / Template</i>
</nav>

<main class="grid"><div>
	<h2>Column 1</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
	sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua. Ut enim ad minim veniam, quis nostrud exercitation
	ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div><div>
	<h2>Column 2</h2>
	<h3>Example List</h3>
	<ul>
		<li>example one</li>
		<li>example two</li>
		<li>example three</li>
	</ul>
	<h3>Another Example</h3>
	<ul>
		<li>example one</li>
		<li>example two</li>
		<li>example three</li>
	</ul>
</div></main>

<footer>
	<p>Made by Porter Swanstrom |
	<a href="../i/template_mobile.png" target="_blank">Mobile Wireframe</a> |
	<a href="../i/template_desktop.png" target="_blank">Desktop Wireframe</a>
	</p>
</footer>

</body></html>
