<!doctype html>
<html lang="en"><head><meta charset="utf-8">
<link rel="stylesheet" href="../css/main.css">
<title>Porter's Portfolio: Template</title></head><body>

<header>
	<h1>Porter's Portfolio
	<i>All the info is here!</i></h1>
</header>

<nav>
	<hr>
	<a href="..">Home</a> |
	<a href="../intro">Intro</a> |
	<a href="../i/wireframe.png">Wireframe</a> |
	<a href="">Template</a> |
	<a href="http://github.com/4stc/portfolio">Source</a>
	<i>Portfolio / Template</i>
	<hr>
</nav>

<main>
	<div class="col" id="left">
		<img src="../i/me.png" alt="a picture of me">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
		sed do eiusmod tempor incididunt ut labore et dolore magna
		aliqua. Ut enim ad minim veniam, quis nostrud exercitation
		ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
		aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
		cupidatat non proident, sunt in culpa qui officia deserunt
		mollit anim id est laborum.</p>
	</div>
	<div class="col" id="right">
		<h2>Example List</h2>
		<ul>
			<li>example one</li>
			<li>example two</li>
			<li>example three</li>
			<li>example four</li>
			<li>example five</li>
			<li>example six</li>
			<li>example seven</li>
			<li>example eight</li>
		</ul>
	</div>
</main>

<footer>
	<p>Made by Porter Swanstrom</p>
</footer>

</body></html>
